.zero-quantity-cell {
    background-color: #ffcccc;
    color: #ff0000;
    font-weight: bold;
}

.product-window .x-form-item {
    margin-bottom: 15px;
}

.product-window .x-form-display-field {
    font-weight: bold;
    color: #333;
}

.x-window-body-default {
    border: none;
    background-color: transparent;
}

.x-panel-body-default {
    border: none;
    background-color: transparent;
}

/* .x-btn-default-toolbar-small {
    background-color: #0b9af3;
}

.x-btn-inner-default-toolbar-small {
    color: #ffffff;
} */

